<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.management.mapper.UserMapper">
    <insert id="save">
        insert into user(name, age, gender, phone, address)
        values (#{request.name}, #{request.age}, #{request.gender}, #{request.phone}, #{request.address})
    </insert>

    <update id="delete">
        update user
        set deleted = 1
        where id = #{id}
          and deleted = 0
    </update>

    <update id="update">
        update user
        set name    = #{request.name},
            gender  = #{request.gender},
            age     = #{request.age},
            phone   = #{request.phone},
            address = #{request.address}
        where id = #{id}
          and deleted = 0
    </update>

    <update id="deleteList">
        update user set deleted = 1 where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")" index="index">
            #{id}
        </foreach>
    </update>

    <select id="getById" resultType="com.example.user.management.model.response.UserResponse">
        select id, name, age, gender, phone, address
        from user
        where id = #{id}
          and deleted = 0
    </select>

    <select id="listUser" resultType="com.example.user.management.model.response.UserResponse">
        select id, name, age, gender, phone, address
        from user
        where deleted = 0
        <if test="filter.name != null and filter.name != ''">
            and name like concat('%', #{filter.name}, '%')
        </if>
        <if test="filter.phone != null and filter.phone != ''">
            and phone like concat('%', #{filter.phone}, '%')
        </if>
        <if test="filter.address != null and filter.address != ''">
            and address like concat('%', #{filter.address}, '%')
        </if>
    </select>
</mapper>
